.header {
    text-align: center;
    background-color: #d92027;
    width: 100%;
    height: 100px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.title{
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman';


}
.logo-personal,.logo-github{
    height: 80px;
    padding: 20px 10px 0;
    
}