
    <div *ngIf="displayProgressBar">
      <ngb-progressbar type="dark" [value]="100" [striped]=true [animated]=true></ngb-progressbar>
    </div>


<ng-container *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
<div class = "elemento">
  <div class="icon">
  <div class="fas fa-eye fa-2x" (click)="open(auto)"></div></div>
    {{auto.descripcion}}
</div>
</ng-container>
<ngb-pagination [collectionSize]="autos.length" [(page)]="page" [pageSize]="pageSize" aria-label="Default pagination"></ngb-pagination>


  

